
<div class="container ">


<h3 class="text-center">Centro de mensajes</h3>
<div class=" chatWindow" id="mensajes"></div>


    <h2 class="text-center mb-3"> Ingrese mensaje</h2>
    <form class="form-floating">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="email" placeholder="name@example.com" name="email" required>
      <label for="floatingInput">E-Mail</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="msg" placeholder="Ingrese su msj" name="msg" required>
      <label for="floatingInput">Mensaje</label>
    </div>
   <div class="d-flex justify-content-around m-auto w-50">
      <div class="text-center mt-5">
        <button type="" id="btnChat" class="btn btn-primary mb-3">Enviar</button>
      </div>
  </div>
  </form>

  
  </div> 

















<script>
  const btn = document.getElementById('btnChat')
  const email = document.getElementById('email')
   const msg = document.getElementById('msg')

  btn.addEventListener('click',(e)=> {
    e.preventDefault()
    if(email.value !== ""){
      info = {
        email : email.value,
        msg : msg.value
      }
      socket.emit("chatFront",info)
      }
  })


</script>
