<div class="container">
    <h2 class="text-center mb-3"> Ingrese producto</h2>
    <form class="form-floating" action="/" method="POST">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="title" placeholder="name@example.com" name="title" required>
      <label for="floatingInput">Producto</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="price" placeholder="name@example.com" name="price" required>
      <label for="floatingInput">Precio</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="pictureURL" placeholder="Password" name="pictureURL" required>
      <label for="floatingPassword">Foto URL</label>
    </div>
    <div class="d-flex justify-content-around m-auto w-50">
      <div class="text-center mt-5">
        <button type="submit" id="send" class="btn btn-primary mb-3">Enviar</button>
      </div>
      {{!-- <div class="text-center mt-5">
        <button type="button" id="buttonGetByID" class="btn btn-primary mb-3">Ver productos</button>
      </div> --}}
  </div>
  </form>

  
  </div> 
