<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    {{!-- <link rel="stylesheet" href={{a}} /> --}}
    <title>WS</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
    <span></span>
    {{>chat }}

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    {{!-- Busca la plantilla en HBS del servidor. --}}
    <script>
      fetch("/verProductos.hbs")
        .then(res => res.text())
        .then(function(text) {
          fetch("/api/productos")
            .then(resp => resp.json())
            .then(data => {
              console.log(data)
              var template = Handlebars.compile(text)
              const html = template({data : data})
              document.querySelector('span').innerHTML = html 
            })
            .catch(
              document.querySelector('span').innerHTML = `<h1 class="text-center text-danger">No se encontraron productos</h1>`
            )     
        })
   
      if (window.history.replaceState) { // verificamos disponibilidad
        window.history.replaceState(null, null, window.location.href);
      }
    </script>

    <script src="./index.js"></script>
  </body>
</html>